@import "../../styles/variables";

#messages-container{
  margin-top: 5%;
  padding: 15px;
}

.msg-title {
  font-family: $articleHeading;
  font-size: 2em;
  margin-bottom: 1rem;
}

#messages {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0rem 0rem 6rem 0rem;
  padding-top: 0px;
  #message-board {
    width: 85%;
    padding: 10px;
    #message-board-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    #message-board-output{
      max-height: 73vh;
      overflow-y: auto;
      .msg-row {
        justify-content: left;
        p {
          padding: 0;
          margin: 0;
        }
        .msg-row-user{
          overflow-wrap: break-word;
        }
        .msg-btn {
          width: 33px;
          height: 33px;
          margin: 0px 3px 0px 3px;
        }
      }
    }
  }
}