#messages {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1rem 0rem 6rem 0rem;
  #message-board {
    padding: 8px;
    width: 85%;
    margin-top: 5%;
    #message-board-input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    #message-board-output{
      max-height: 80vh;
      overflow-y: auto;
      .msg-row {
        justify-content: left;
        p {
          padding: 0;
          margin: 0;
        }
        .msg-row-user{
          overflow-wrap: break-word;
        }
        .msg-btn {
          width: 33px;
          height: 33px;
          margin: 0px 3px 0px 3px;
        }
      }
    }
  }
}