@import "~bootstrap/scss/bootstrap";
@import "../../../styles/variables";

#articles-container {
  padding :15px;
  margin: 10px 20px;
}
.card {
  margin: 0 auto;
  width: 50%;
}
.heading-article {
  padding-top:10px;
  font-family: $articleHeading;
  font-size: 2em;
}