{
  "firebaseKeys": {
    "apiKey": "",
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "messagingSenderId": ""
  },
  "weaterbitKeys" : {
    "apiKey" : ""
  }
}