#main-nav {
  position: fixed !important;
  top: 0;
  z-index: 1;
  width:100%;
}

#events-container {
  padding-top:65px !important;
}
#weather-container, #articles-container, #messages-container {
  padding-top : 70px !important;
}
.navbar-brand {
  font-family: 'Gochi Hand', cursive;
}