@import "~bootstrap/scss/bootstrap";

@import './styles/variables';

body {
  background-image: $backgroundImage;
  background-attachment: fixed;
  background-size: cover;
}

.weather-event-wrapper {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}